{% extends "base.html" %}
{% block body %}
    <h1>PoolC</h1>
    <p>연세대학교 공과대학 프로그래밍 동아리 PoolC 입니다.<br/>
        PoolC의 문은 언제나 열려있습니다.<br/>
        대학생활에 무언가를 이루고 싶다고 생각하시는 모든분을 환영합니다.<br/>
        PoolC를 찾아오셔서 가입하시고 마음껏 꿈을 펼치십시오.
    </p>
    <h2>설립</h2>
    <p>PoolC는 1998년 10월경 전공자 학술모임을 준비하던 컴퓨터과학 전공자들과 이 모임에 관심을 보이던 소수의 타 전공자들이 전공자 학술 모임의 성격을 확장하여 1998년 11월 5일 그 첫발을
        내딛게 되었습니다.<br/>
        1기 회원은 10여 명이었으며 초대 회장은 97학번 도종원이었습니다.
    </p>
    <h2>의미</h2>
    <p>풀씨(PoolC)의 한글 명칭은 '풀그림(프로그래밍의 순수 우리말) 개발의 씨앗이 되자'라는 의미를 담고 있습니다.<br/>
        영문명칭은 '컴퓨터 프로그래밍의 기본인 C언어의 Pool에서 헤엄치며 하나씩 습득해나가자'는 의미가 있습니다.
    </p>
    <h2>소속</h2>
    <p>PoolC는 연세대학교 공과대학 소속의 동아리입니다.</p>
    <h2>지도교수님</h2>
    <p>PoolC의 지도교수님은 연세대학교 공과대학 컴퓨터과학과 이원석 교수님이십니다.<br/>
        동아리가 처음 만들어질 때부터 지도를 맡아주셨습니다.<br/>
        언제나 PoolC를 위해 물심양면으로 도와주시는 멋진 교수님이십니다.
    </p>
    <h2>활동</h2>
    <p>PoolC는 학술 동아리입니다.<br/>
        컴퓨터 프로그램 개발 능력의 배양 및 컴퓨터와 관련된 다양한 분야에 대한 전문적 학술 토의 및 연구에 그 목적을 두고 있습니다.<br/>
        실제로 각종 세미나와 스터디, 프로그래밍 프로젝트를 진행하여 컴퓨터 관련 분야에 대한 회원들 각자의 능력을 배양하고 이를 통해 배운 지식을 나눌 줄 아는 진정한 학술동아리를 만들어 나가고자 열심히
        노력하고 있으며, 앞으로도 최선을 다할 것입니다.<br/>
        또한, 그에 못지 않게 회원들 간의 친목 도모도 게을리하지 않고 있습니다.<br/>
        매 학기의 시작과 끝에 모두가 모이는 총회와 매 학기 초에 MT를 가기도 합니다.
    </p>
    <h2>가입문의 및 연락처</h2>
    <p>
        회원가입은 따로 시기가 정해져 있지 않고 수시로 받고 있습니다.<br/>
        프로그래밍에 관심이 있는 모든 학우분들의 연락을 환영합니다.
    <address>
        <strong>PoolC 회장 <a href="mailto:poolc.official@gmail.com">오진균</a><br/></strong>
        연세대학교 제1 공학관 지하 S4호 PoolC<br/>
        010-3374-2710
    </address>
    </p>
{% endblock %}
{% block script %}
    <script>
        var about_li = $("#about");
        about_li.addClass("active");
        about_li.append("<span class=\"sr-only\">현재 선택됨</span>");
    </script>
{% endblock %}
