{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/article_view.css"/>
    <link rel="stylesheet" href="/static/css/codehilite.css"/>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ article.board.repr }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 article-subject">
            <h2>{{ article.subject | e }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="meta row">
                <div class="col-xs-2">
                    <strong>글쓴이</strong>
                    <a onclick="open_user_popup({{ article.user.uid }})">{{ article.user.nickname | e }}</a>
                </div>
                <div class="col-xs-4">
                    <strong>작성시간</strong> {{ article.created_at.strftime("%y-%m-%d %H:%M:%S") }}
                </div>
                <div class="col-xs-4">
                    {% if article.is_modified %}
                        <strong>변경시간</strong> {{ article.last_modified.strftime("%y-%m-%d %H:%M:%S") }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-xs-12">
            {{ article.compiled_content }}
        </div>
    </div>
    <div class="row replies">
    <div class="col-xs-12">
        <div id="reply-wrap">
            <div id="reply-table" class="col-xs-12"></div>
            {% if request.user and request.user in article.board.comment_group.users %}
                <form method="post" action="/reply/write" class="col-xs-12 reply-row reply-form">
                    <input type="hidden" name="article_id" value="{{ article.uid }}"/>

                    <div class="reply-nickname col-xs-2">
                        <label class="current-user-nickname"
                               for="reply-input">{{ request.user.nickname | e }}</label>
                    </div>
                    <div class="reply-content-box col-xs-8">
                        <input id="reply-input" type="text" name="content" class="form-control" required/>
                    </div>
                    <div class="reply-timestamp col-xs-2">
                        {% if page %}
                            <input type="hidden" name="page" value="{{ page }}"/>
                        {% endif %}
                        <input name="submit" type="submit" value="완료" class="btn btn-default"/>
                    </div>
                </form>
            {% endif %}
        </div>

        <div class="outer-wrap">
            <div id="pagination"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row buttons">
        <div class="col-xs-12">
            {% if page %}
                <a class="btn btn-default pull-left"
                   href="/board?name={{ article.board.name }}&page={{ page }}">목차</a>
            {% else %}
                <a class="btn btn-default pull-left" href="/board?name={{ article.board.name }}">목차</a>
            {% endif %}
            {% if request.user == article.user or request.user.is_admin %}
                <span id="article-delete" class="btn btn-default pull-right">삭제</span>
                <a class="btn btn-default pull-right"
                   href="/article/edit?id={{ article.uid }}" id="article-edit">수정</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/jquery.bootpag.js"></script>
    <script>
        var editing = false;
        if ("{{ article.board.name }}" === "notice") {
            var notice_li = $("#notice");
            notice_li.addClass("active");
            notice_li.append("<span class=\"sr-only\">현재 선택됨</span>");
        } else {
            var board_li = $("#{{ article.board.name }}");
            board_li.parent().addClass("in");
            board_li.addClass("active");
            board_li.append("<span class=\"sr-only\">현재 선택됨</span>");
        }

        $("#article-delete").click(function () {
            if (confirm("게시물을 정말로 삭제하시겠습니까?")) {
                $.ajax("/article/delete?id={{ article.uid }}", {
                    type: "DELETE"
                }).done(function () {
                    alert("게시물 삭제에 성공했습니다.");
                    {% if page %}
                        window.location.replace("/board?name={{ article.board.name }}&page={{ page }}");
                    {% else %}
                        window.location.replace("/board?name={{ article.board.name }}");
                    {% endif %}
                }).fail(function () {
                    alert("게시물 삭제에 실패하였습니다. 새로고침 후 다시 시도해주세요.");
                });
            }
        });

        var current_page = 1;
        var render_reply = function (reply) {
            var reply_el = $("<div></div>").attr("id", "reply-" + reply.uid).addClass("reply-row");
            var nickname = $("<a></a>").attr("id", "user-" + reply.user_id)
                    .addClass("reply-nickname").addClass("col-xs-2")
                    .attr("onclick", "open_user_popup(" + reply.user_id + ")")
                    .text(reply.user_nickname);
            var content = $("<div></div>").addClass("reply-content-box").
                    addClass("col-xs-8").append("<span class=reply-content>" + reply.content + "</span>");
            {% if request.user and request.user.is_admin %}
                content.append("<span class=\"reply-delete glyphicon glyphicon-remove pull-right\"></span>");
                content.append("<span class=\"reply-edit glyphicon glyphicon-pencil pull-right\"></span>");
            {% elif request.user %}
                if (reply.user_id == {{ request.user.uid }}) {
                    content.append("<span class=\"reply-delete glyphicon glyphicon-remove pull-right\"></span>");
                    content.append("<span class=\"reply-edit glyphicon glyphicon-pencil pull-right\"></span>");
                }
            {% endif %}
            var time_repr = null;
            if (reply.is_modified) {
                time_repr = "(*) " + reply.last_modified
            } else {
                time_repr = reply.created_at
            }
            var timestamp = $("<div></div>").addClass("reply-timestamp").addClass("col-xs-2").text(time_repr);
            reply_el.append(nickname).append(content).append(timestamp);
            return reply_el;
        };

        var render_reply_table = function (data) {
            $("#reply-table").html("");
            for (var i = 0; i < data.length; i++) {
                var reply_el = render_reply(data[i]);
                $("#reply-table").append(reply_el);
            }
            $(".reply-delete").click(function () {
                var delete_ok = confirm("댓글을 정말로 삭제하시겠습니까?");
                if (delete_ok) {
                    var reply_uid = $(this).parent().parent().attr("id").split("-")[1];
                    $.ajax("/reply/delete?id=" + reply_uid, {
                        type: "DELETE"
                    }).done(function () {
                        alert("댓글을 삭제하였습니다.");
                        refresh_table_with_page(current_page);
                    }).fail(function (xhr) {
                        if (xhr.status === 401) {
                            alert("댓글을 삭제할 권한이 없습니다.");
                        } else if (xhr.status === 404) {
                            alert("댓글이 존재하지 않습니다.");
                        } else {
                            alert("댓글 삭제에 실패하였습니다. 새로고침 후 다시 시도하세요.");
                        }
                    });
                }
            });
            $(".reply-edit").click(function () {
                var content_box = $(this).parent();
                var reply_content = content_box.find(".reply-content");
                var text = reply_content.text();
                content_box.find("span").hide();
                content_box.append("<input class=\"reply-edit-input form-control\"type=\"text\"/>");
                editing = true;
                $(".reply-edit-input").keypress(function (e) {
                    if (e.which === 13) {
                        refresh_table_with_page(current_page);
                        var $this = $(this);
                        var reply_uid = $(this).parent().parent().attr("id").split("-")[1];
                        var reply_data = {
                            id: reply_uid,
                            content: $this.val()
                        };
                        $.ajax("/reply/edit", {
                            type: "POST",
                            data: reply_data
                        }).done(function () {
                            alert("댓글을 수정하였습니다.");
                            refresh_table_with_page(current_page);
                        }).fail(function (xhr) {
                            if (xhr.status === 401) {
                                alert("댓글을 수정할 권한이 없습니다.");
                            } else if (xhr.status === 404) {
                                alert("댓글이 존재하지 않습니다.");
                            } else {
                                alert("댓글 수정에 실패하였습니다. 새로고침 후 다시 시도하세요.");
                            }
                        });
                    }
                });
            });
        };

        var refresh_table_with_page = function (num) {
            editing = false;
            current_page = num;
            $.ajax("/reply/view?article_id={{ article.uid }}&page=" + num, {
                dataType: "json"
            }).done(render_reply_table).fail(function () {
                alert("댓글 로딩에 실패하였습니다.");
            });
        };
        $("#pagination").bootpag({
            total: {{ reply_page_total }},
            page: 1,
            maxVisible: 10,
            leaps: false,
            renderNew: true
        }).on("page", function (e, num) {
            refresh_table_with_page(num);
        });
        refresh_table_with_page(1);
        $(document).keyup(function (e) {
            if (e.keyCode == 27) {
                if (editing) {
                    refresh_table_with_page(current_page);
                }
            }
        });
        $(".reply-form").on("submit", function() {
            this.submit.disabled = true;
        })
    </script>
{% endblock %}
