{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/article_view.css"/>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ article.board.repr }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ article.subject }}</h2>
        </div>
    </div>
    <div class="row meta">
        <div class="col-xs-2">
            <strong>글쓴이</strong> {{ article.user.nickname }}
        </div>
        <div class="col-xs-4">
            <strong>작성시간</strong> {{ article.created_at.strftime("%y-%m-%d %H:%M:%S") }}
        </div>
        <div class="col-xs-4">
            {% if article.is_modified %}
                <strong>변경시간</strong> {{ article.last_modified.strftime("%y-%m-%d %H:%M:%S") }}
            {% endif %}
        </div>
    </div>
    <div class="row content">
        <div class="col-xs-12">
            {{ article.compiled_content }}
        </div>
    </div>
    <div class="row replies">
        <div class="col-xs-12">
            <table id="reply-table" class="table">
                <tfoot>
                {% if request.user and request.user in article.board.comment_group.users %}
                    <tr>
                        <form method="post" action="/reply/write" class="col-xs-12 form-horizontal">
                            <input type="hidden" name="article_id" value="{{ article.uid }}"/>
                            <td class="reply-nickname">
                                <label class="current-user-nickname"
                                       for="reply-input">{{ request.user.nickname }}</label>
                            </td>
                            <td class="reply-content">
                                <input id="reply-input" type="text" name="content" class="form-control"/>
                            </td>
                            <td>
                                {% if page %}
                                    <input type="hidden" name="page" value="{{ page }}"/>
                                {% endif %}
                                <input type="submit" value="완료" class="btn btn-default"/>
                            </td>
                        </form>
                    </tr>
                {% endif %}
                </tfoot>
            </table>
        </div>

        <div class="outer-wrap">
            <div id="pagination"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row buttons">
        <div class="col-xs-12">
            {% if page %}
                <a class="btn btn-default pull-left" href="/board?name={{ article.board.name }}&page={{ page }}">목차</a>
            {% else %}
                <a class="btn btn-default pull-left" href="/board?name={{ article.board.name }}">목차</a>
            {% endif %}
            {% if request.user == article.user or request.user.is_admin %}
                <span id="article-delete" class="btn btn-default pull-right">삭제</span>
                <a href="/article/edit?id={{ article.uid }}" id="article-edit" class="btn btn-default pull-right">수정</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/jquery.bootpag.js"></script>
    <script>
        if ("{{ article.board.name }}" === "notice") {
            var notice_li = $("#notice");
            notice_li.addClass("active");
            notice_li.append("<span class=\"sr-only\">현재 선택됨</span>");
        } else {
            var board_li = $("#{{ article.board.name }}");
            board_li.parent().addClass("in");
            board_li.addClass("active");
            board_li.append("<span class=\"sr-only\">현재 선택됨</span>");
        }

        $("#article-delete").click(function () {
            $.ajax("/article/delete?id={{ article.uid }}", {
                type: "DELETE"
            }).done(function () {
                alert("success");
                {% if page %}
                    window.location.replace("/board?name={{ article.board.name }}&page={{ page }}");
                {% else %}
                    window.location.replace("/board?name={{ article.board.name }}");
                {% endif %}
            }).fail(function () {
                alert("게시물 삭제에 실패하였습니다. 새로고침 후 다시 시도해주세요.");
            });
        });

        var current_page = 1;
        var render_reply = function (reply) {
            var reply_el = $("<tr></tr>").attr("id", reply.uid);
            var nickname = $("<td></td>").addClass("reply-nickname").text(reply.user_nickname);
            var content = $("<td></td>").addClass("reply-content").text(reply.content);
            {% if request.user and request.user.is_admin %}
                content.append("<span class=\"reply-delete glyphicon glyphicon-remove pull-right\" style=\"margin-left: 10px;\"></span>");
                var delete_button = $("<span class=\"glyphicon glyphicon-pencil pull-right\"></span>");
                content.append(delete_button);
            {% elif request.user %}
                if (reply.user_id == {{ request.user.uid }}) {
                    content.append("<span class=\"reply-delete glyphicon glyphicon-remove pull-right\" style=\"margin-left: 10px;\"></span>");
                    var delete_button = $("<span class=\"glyphicon glyphicon-pencil pull-right\"></span>");
                    content.append(delete_button);
                }
            {% endif %}
            var time_repr = null;
            if (reply.is_modified) {
                time_repr = "(*) " + reply.last_modified
            } else {
                time_repr = reply.created_at
            }
            var timestamp = $("<td></td>").addClass("reply-timestamp").text(time_repr);
            reply_el.append(nickname).append(content).append(timestamp);
            return reply_el;
        };

        var render_reply_table = function (data) {
            $("#reply-table tbody").html("");
            for (var i = 0; i < data.length; i++) {
                var reply_el = render_reply(data[i]);
                $("#reply-table").append(reply_el);
            }
            $(".reply-delete").click(function () {
                var delete_ok = confirm("댓글을 정말로 삭제하시겠습니까?");
                if (delete_ok) {
                    var reply_uid = $(this).parent().parent().attr("id");
                    $.ajax("/reply/delete?id=" + reply_uid, {
                        type: "DELETE"
                    }).done(function () {
                        alert("댓글을 삭제하였습니다.");
                        refresh_table_with_page(current_page);
                    }).fail(function (xhr) {
                        if (xhr.status === 401) {
                            alert("댓글을 삭제할 권한이 없습니다.");
                        } else if (xhr.status === 404) {
                            alert("댓글이 존재하지 않습니다.");
                        } else {
                            alert("댓글 삭제에 실패하였습니다. 새로고침 후 다시 시도하세요.");
                        }
                    });
                }
            });
        };

        var refresh_table_with_page = function (num) {
            current_page = num;
            $.ajax("/reply/view?article_id={{ article.uid }}&page=" + num, {
                dataType: "json"
            }).done(render_reply_table).fail(function () {
                alert("댓글 로딩에 실패하였습니다.");
            });
        };
        $("#pagination").bootpag({
            total: {{ reply_page_total }},
            page: 1,
            maxVisible: 10,
            leaps: false,
            renderNew: true
        }).on("page", function (e, num) {
            refresh_table_with_page(num);
        });
        refresh_table_with_page(1);
    </script>
{% endblock %}