{% extends "base.html" %}
{% block head %}
    <style>
        .subject {
            width: 50%;
        }

        .author {
            width: 20%;
        }

        .timestamp {
            width: 30%;
        }

        @media (min-width: 768px) {
            .subject {
                width: 60%;
            }

            .author {
                width: 20%;
            }

            .timestamp {
                width: 20%;
            }
        }

        .outer-wrap {
            float: left;
            position: relative;
            left: 50%;
            padding-top: 10px;
        }

        #pagination {
            float: left;
            left: -50%;
            position: relative;
        }

        .clear {
            clear: both;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ board.repr }}</h1>
        </div>
        {% if articles %}
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="subject">제목</th>
                        <th class="author">작성자</th>
                        <th class="timestamp">작성시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td class="subject">
                                <a href="/article/view?id={{ article.uid }}&page={{ page }}">{{ article.subject }}</a>
                            </td>
                            <td class="author">{{ article.user.nickname }}</td>
                            <td class="timestamp">{{ article.created_at.strftime("%y-%m-%d %H:%M:%S") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-xs-12">
                    {% if can_write %}
                        <a href="/article/write?name={{ board.name }}" class="btn btn-default pull-right">글쓰기</a>
                    {% endif %}
                </div>
                <div class="outer-wrap">
                    <div id="pagination"></div>
                    <div class="clear"></div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12 alert alert-warning"><strong>이런!</strong> 이 페이지에는 아무 글도 없습니다.</div>
            <div class="col-xs-12">
                {% if can_write %}
                    <a href="/article/write?name={{ board.name }}" class="btn btn-default pull-right">글쓰기</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/jquery.bootpag.js"></script>
    <script>
        // pagination
        $("#pagination").bootpag({
            total: {{ page_total }},
            page: {{ page }},
            maxVisible: 10,
            leaps: false,
            href: "/board?name={{ board.name }}&page={{ "{{" }}number{{ "}}" }}"
        });

        // activate sidebar menu
        if ("{{ board.name }}" === "notice") {
            var notice_li = $("#notice");
            notice_li.addClass("active");
            notice_li.append("<span class=\"sr-only\">현재 선택됨</span>");
        } else {
            var board_li = $("#{{ board.name }}");
            board_li.parent().addClass("in");
            board_li.addClass("active");
            board_li.append("<span class=\"sr-only\">현재 선택됨</span>");
        }
    </script>
{% endblock %}