{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.textcomplete.css" />
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-10">
            <div id="chat-message row">
                <ul id="chat-message-ul" class="list-unstyled"></ul>
            </div>
            <div id="chat-input row">
                <form id="chat-form" action="/chat/message/stream" method="post">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input id="chat-input" type="text" class="form-control"
                                name="content" autocomplete="off" required/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">입력</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="outer-wrap">
                    <div id="pagination"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-xs-2">
            <div id="notification">
            </div>
            <div id="chat-user">
                <div id="user-count">몇 명?</div>
                <ul id="chat-user-ul" class="list-unstyled"></ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script>
        user_nickname = "{{ request.user.nickname }}";
        // enable noti
        var noti_button = "<button class=\"noti-button btn btn-default\" onclick=\"Notification.requestPermission()\">알림 사용</button>";
        if (Notification.permission === "default") {
            $("#notification").append(noti_button);
        }
    </script>
    <script src="/static/js/jquery.bootpag.js"></script>
    <script src="/static/js/jquery.textcomplete.min.js"></script>
    <script>
        prompted_error = false;
        chat_per_page = {{ CHAT_PER_PAGE }};
    </script>
    <script src="/static/js/markup.min.js"></script>
    <script src="/static/js/chat.js"></script>
    <script>
    chat_input_handler.init({
        mentionable_users: {{ user_nicknames }}
    });
    chat_pagination_handler.init({
        page_total: {{ page_total }},
        current_page: {{ page if page else 1 }},
        max_visible: 10,
        leaps: false
    });
    wait_for_chat_stream();
    </script>
    <script src="/static/js/chatuser.js"></script>
{% endblock %}
