<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>{{ site_name }} - {{ title }}</title>
    <style>
        html * {
            font-family: Meiryo, "Malgun Gothic", AppleSDGothicNeo, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .foo {
            text-align: center;
            display: block;
            width: 700px;
            margin: 30px auto;
        }
    </style>
</head>
<body>
<h1 class="foo">{{ brief }}</h1>

<p class="foo">{{ detail }}</p>

<p class="foo"><a href="/">홈페이지로</a></p>
<img class="foo" src="/static/img/illya.jpg"/>
</body>
</html>