<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad" >
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ user.nickname }}님의 사용자 정보</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>별명</td>
                                <td>{{ user.nickname | e }}</td>
                            </tr>
                            <tr>
                                <td>실명</td>
                                <td>{{ user.pd_realname }}</td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td>{{ user.pd_email or "미입력" }}</td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>{{ user.pd_address or "미입력" }}</td>
                            </tr>
                            <tr>
                                <td>전화번호</td>
                                <td>{{ user.pd_phone or "미입력" }}</td>
                            </tr>
                            <tr>
                                <td>분류</td>
                                <td>{{ user.bunryu.name }}</td>
                            </tr>
                                <td>자기소개</td>
                                <td>{{ user.pd_bio or "자기소개가 비어있습니다" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>