{% extends "board.html" %}
{% block board_header %}
    {% if board %}
        <h1>{{ board.repr }} 검색결과</h1>
    {% else %}
        <h1>검색결과</h1>
    {% endif %}
{% endblock %}
{% block board_content %}
    {% for article in items %}
        <tr>
            <td class="subject">
                {% if article.reply_count %}
                    <a href="/article/view?id={{ article.uid }}">{{ article.subject | e }}
                        [{{ article.reply_count }}]</a>
                {% else %}
                    <a href="/article/view?id={{ article.uid }}">{{ article.subject | e }}</a>
                {% endif %}
            </td>
            <td class="author">{{ article.user.nickname | e }}</td>
            <td class="timestamp">{{ article.created_at.strftime("%y-%m-%d %H:%M:%S") }}</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block write_button %}
{% endblock %}
{% block search_box %}
{% endblock %}
{% block no_result %}
    <div class="col-xs-12 alert alert-warning">검색결과가 존재하지 않습니다.</div>
{% endblock %}
{% block pag_href %}
    {% if board %}
        bootpag_setting.href = "/search?query={{ query }}&type={{ type }}&target={{ target }}&board={{ name }}&page={{ "{{" }}number{{ "}}" }}";
    {% else %}
        bootpag_setting.href = "/search?query={{ query }}&type={{ type }}&target={{ target }}&page={{ "{{" }}number{{ "}}" }}";
    {% endif %}
{% endblock %}
