{% extends "search_article.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/board.css"/>
{% endblock %}
{% block caption %}
    <th class="subject">제목</th>
    <th class="author">작성자</th>
    <th class="timestamp">작성시간</th>
{% endblock %}
{% block board_content %}
    {% for reply in items %}
        <tr>
            <td class="subject">
                <a href="/article/view?id={{ reply.article.uid }}">{{ reply.content }}</a>
            </td>
            <td class="author">{{ reply.user.nickname | e }}</td>
            <td class="timestamp">{{ reply.created_at.strftime("%y-%m-%d %H:%M:%S") }}</td>
        </tr>
    {% endfor %}
{% endblock %}
