{% extends "search_article.html" %}
{% block caption %}
    <th class="subject">내용</th>
    <th class="author">작성자</th>
    <th class="timestamp">작성시간</th>
{% endblock %}
{% block board_content %}
    {% for reply in items %}
        <tr>
            <td class="subject">
                <a href="/article/view?id={{ reply.article.uid }}">{{ reply.get_cleaned_content() }}</a>
            </td>
            <td class="author"><a onclick="open_user_popup({{ reply.user.uid }})">{{ reply.user.nickname | e }}</a></td>
            <td class="timestamp">{{ reply.created_at.strftime("%y-%m-%d %H:%M:%S") }}</td>
        </tr>
    {% endfor %}
{% endblock %}
