.article-subject {
    padding: 10px 45px;
}
.meta {
    padding: 10px 15px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    margin: 0;
}

.meta strong {
    color: #999;
}

.content {
    padding: 20px 30px;
}

.buttons {
    padding-top: 20px;
    padding-bottom: 20px;
}

#article-delete {
    margin-left: 30px;
}

#reply-table {
    font-size: 10pt;
    padding: 0;
}

.outer-wrap {
    float: left;
    position: relative;
    left: 50%;
    padding-top: 10px;
}

#pagination {
    float: left;
    left: -50%;
    position: relative;
}

.clear {
    clear: both;
}

.reply-row {
    border-top: 1px solid #ddd;
    padding: 12px 15px;
}

.reply-row > div {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

form .reply-content-box {
    margin-left: -18px;
    margin-right: 8px;
    padding-right: 0;
}

.reply-row > div.reply-content-box {
    width: 66%;
}

.reply-delete {
    margin-left: 10px;
}
