.subject {
    width: 50%;
}

.author {
    width: 20%;
}

.timestamp {
    width: 30%;
}

@media (min-width: 768px) {
    .subject {
        width: 60%;
    }

    .author {
        width: 20%;
    }

    .timestamp {
        width: 20%;
    }
}

.outer-wrap {
    float: left;
    position: relative;
    left: 50%;
    padding-top: 10px;
}

#pagination {
    float: left;
    left: -50%;
    position: relative;
}

.search-form {
    float: left;
    left: -50%;
    position: relative;
}

.clear {
    clear: both;
}
