.chat-noti .chat-content {
    background-color: #000;
    color: #ff0;
}

.chat-item-user-nickname {
    text-align: center;
}

.chat-item-user-nickname a {
    color: inherit;
}

.chat-datetime {
    color: #999;
    padding: 10px;
    font-size: x-small;
}

.chat-item {
    padding: 0;
    border-top: 1px #ddd solid;
    border-left: 1px #ddd solid;
}

.chat-item > * {
    padding-top: 5px;
    padding-bottom: 5px;
}

.chat-item:last-child {
    border-bottom: 1px #ddd solid;
}

.chat-content-datetime {
    word-break: break-all;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
}

.outer-wrap {
    float: left;
    position: relative;
    left: 50%;
    padding-top: 10px;
}

#pagination {
    float: left;
    left: -50%;
    position: relative;
}

.clear {
    clear: both;
}

#user-count {
    font-weight: bold;
    color: #428bca;
}

.noti-button {
    margin-bottom: 15px;
}

#chat-input {
    resize: none;
}